.hidden {
  display: none;
}

.modal-background {
  position: absolute;
  background-color: rgba(112, 112, 112, 0.39);
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0%;
}

.modal-box {
  position: fixed;
  background-color: whitesmoke;
  text-align: center;
  width: 700px;
  height: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
