/* Inline #2 | http://127.0.0.1:5500/index.html */

header {
  text-align: center;
}

/* Inline #2 | http://127.0.0.1:5500/index.html */

.row.day-select {
  display: fl;
  display: flex;
}

.row.day-select {
  justify-content: space-evenly;
}

/* styles.css | http://127.0.0.1:5500/styles.css */

.day-of-week {
  width: 10%;
  padding: 1.2em 1em;
  background-color: white;
  border-color: black;
  border-style: solid;
}

div.row:nth-child(2) {
  display: flex;
  justify-content: center;
}

.add-entry {
  margin-block: 2em;
  padding: 1em 2em;
}

table {
  width: 75%;
  border: solid;
  margin: 0% auto;
}

h2 {
  text-align: center;
  margin: 2% auto;
}

tr:nth-child(2n) {
  background-color: gray;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

td.flex-space-between > span > button:nth-child(2) {
  margin-right: 5rem;
  color: white;
  background-color: #cc0a00;
  border: solid black;
  padding: 0.2rem 1.5rem;
}

td.flex-space-between > span > button:nth-child(1) {
  margin-right: 0.5rem;
  color: white;
  background-color: #2b78e4;
  border: solid black;
  padding: 0.2rem 1.5rem;
}
